<a href="https://colab.research.google.com/github/SIDDHESH1564/OIBSIP/blob/main/Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
import nltk #(natural language tool-kit)
from sklearn.metrics import accuracy_score
from nltk.corpus import stopwords
import string
from nltk.stem.porter import PorterStemmer

In [34]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [26]:
# Load the dataset
dataset = pd.read_csv('spam.csv', encoding='latin-1')

In [27]:
# Verify the loaded dataset
print(dataset.head())

     v1                                                 v2 Unnamed: 2  \
0   ham  Go until jurong point, crazy.. Available only ...        NaN
1   ham                      Ok lar... Joking wif u oni...        NaN
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3   ham  U dun say so early hor... U c already then say...        NaN
4   ham  Nah I don't think he goes to usf, he lives aro...        NaN

  Unnamed: 3 Unnamed: 4
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

In [28]:
dataset.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [29]:
print("Total Duplicated values =",dataset.duplicated().sum())

Total Duplicated values = 403

In [30]:
df = dataset.drop_duplicates(keep='first')

In [31]:
df['v1'].value_counts()

ham     4516
spam     653
Name: v1, dtype: int64

In [35]:
df['sentence'] = df['v2'].apply(lambda x:len(nltk.sent_tokenize(x)))
df.sample(4)

<ipython-input-35-ee0322e46614>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentence'] = df['v2'].apply(lambda x:len(nltk.sent_tokenize(x)))

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,sentence
5177,ham,Very strange. and are watching the 2nd one n...,NaN,NaN,NaN,3
2805,ham,Can a not?,NaN,NaN,NaN,1
1547,ham,Bishan lar nearer... No need buy so early cos ...,NaN,NaN,NaN,1
679,ham,Missed your call cause I was yelling at scrapp...,NaN,NaN,NaN,4

In [36]:
df['words'] = df['v2'].apply(lambda x:len(nltk.word_tokenize(x)))
df.sample(4)

<ipython-input-36-0c192a84f253>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['words'] = df['v2'].apply(lambda x:len(nltk.word_tokenize(x)))

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,sentence,words
3960,ham,Your dad is back in ph?,NaN,NaN,NaN,1,7
831,ham,Hi mate its RV did u hav a nice hol just a mes...,NaN,NaN,NaN,1,31
3432,ham,Christmas is An occasion that is Celebrated as...,NaN,NaN,NaN,2,31
15,spam,"XXXMobileMovieClub: To use your credit, click ...",NaN,NaN,NaN,2,28

In [37]:
df['chars']= df['v2'].apply(len)
df.sample(4)

<ipython-input-37-e3b42d0b9414>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['chars']= df['v2'].apply(len)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,sentence,words,chars
2892,ham,K I'll be sure to get up before noon and see w...,NaN,NaN,NaN,1,15,56
3017,ham,I didn't get the second half of that message,NaN,NaN,NaN,1,10,44
4378,ham,How are you. Just checking up on you,NaN,NaN,NaN,2,9,36
261,ham,Anyway i'm going shopping on my own now. Cos m...,NaN,NaN,NaN,3,22,85

In [38]:
sum=df[df['v1'] == 1][['words','sentence','chars']]
sum.describe()

       words  sentence  chars
count    0.0       0.0    0.0
mean     NaN       NaN    NaN
std      NaN       NaN    NaN
min      NaN       NaN    NaN
25%      NaN       NaN    NaN
50%      NaN       NaN    NaN
75%      NaN       NaN    NaN
max      NaN       NaN    NaN

In [39]:
sum=df[df['v1'] == 0][['words','sentence','chars']]
sum.describe()

       words  sentence  chars
count    0.0       0.0    0.0
mean     NaN       NaN    NaN
std      NaN       NaN    NaN
min      NaN       NaN    NaN
25%      NaN       NaN    NaN
50%      NaN       NaN    NaN
75%      NaN       NaN    NaN
max      NaN       NaN    NaN

In [41]:
nltk.download('stopwords')
stopwords.words('english')[:13]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd"]

In [42]:
ps = PorterStemmer()
ps.stem('from')

'from'

In [43]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [44]:
def changement(a):

    a = a.lower()

    tokens = nltk.word_tokenize(a)

    alphanum = [t for t in tokens if t.isalnum() and t not in stopwords.words('english')]

    ps = PorterStemmer()
    stemmed_tokens = [ps.stem(t) for t in alphanum]

    return " ".join(stemmed_tokens)

In [46]:
df['pre-processed'] = df['v2'].apply(changement)
df.tail(8)

<ipython-input-46-deaf53fda2b0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pre-processed'] = df['v2'].apply(changement)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,sentence,words,chars,pre-processed
5564,ham,Why don't you wait 'til at least wednesday to ...,NaN,NaN,NaN,1,16,67,wait least wednesday see get
5565,ham,Huh y lei...,NaN,NaN,NaN,1,4,12,huh lei
5566,spam,REMINDER FROM O2: To get 2.50 pounds free call...,NaN,NaN,NaN,1,30,147,remind o2 get pound free call credit detail gr...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN,4,35,161,2nd time tri 2 contact u pound prize 2 claim e...
5568,ham,Will _ b going to esplanade fr home?,NaN,NaN,NaN,1,9,37,b go esplanad fr home
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN,2,15,57,piti mood suggest
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN,1,27,125,guy bitch act like interest buy someth els nex...
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN,2,7,26,rofl true name

In [47]:
df.shape

(5169, 9)

In [48]:
df = pd.DataFrame(dataset, columns=['v1', 'v2'])

In [49]:
# Step 2: Preprocessing and feature extraction
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['v2'])
y = df['v1']

In [50]:
# Step 3: Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [51]:
# Step 4: Train the Naive Bayes classifier
classifier = MultinomialNB()
classifier.fit(X_train, y_train)

MultinomialNB()

In [52]:
# Step 5: Make predictions on the testing set
y_pred = classifier.predict(X_test)

In [53]:
# Step 6: Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.97847533632287

In [54]:
# Step 7: Example usage to classify new emails
new_emails = [
    'Get a free vacation now!',
    'Hey, are you free for lunch today?'
]
new_emails_vectorized = vectorizer.transform(new_emails)
predictions = classifier.predict(new_emails_vectorized)
print("Predictions:")
for email, prediction in zip(new_emails, predictions):
    print(f"Email: {email}, Prediction: {prediction}")

Predictions:
Email: Get a free vacation now!, Prediction: spam
Email: Hey, are you free for lunch today?, Prediction: ham